.center {
    text-align: center;
}


.info {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.container{
    display: block;
    position: relative;
    background: #E2EFDA;
    margin-bottom: 20px !important;
}
.fecha{
   right: 10px;
   position: absolute;
   top: -15px;
}

.table td:nth-child(8), td:nth-child(2),td:nth-child(7)  {
    display: none;
}


.text {
     background-color: #e6e6e6 !important;
    border: 1px solid #e6e6e6;
    color: #444;
    font-weight: 700;
    text-align: center;
}

.user-report {
    color: #555;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    line-height: 24px;
    padding: 10px;

}

.user-report table td {
    border: 2px solid #eee;
    font-size: 10px;
    padding: 5px;
    vertical-align: top;
}

.user-report table {
    text-align: left;
}
body{
 margin-top: 10px;
 text-transform: uppercase;
}
.verde {
     width: 35px ; 
     height: 35px ;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
     color: #5cb85c
}
.rojo {
     width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #D71A1A;
     color: #D71A1A;
}
.amarillo {
     width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #D7EF2D;
     color: #D7EF2D;
}
.negro {
     width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #000000;
     color: #000000;
}
.blanco {
     width: 10px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #fff;
     color: #fff;
     border: 1px solid #000000;
}
.line{
    display: block;
    border-bottom: 1px solid #ABAAAA;
    margin-bottom: 3px;
    padding-bottom: 5px;
}
.lineBank{
    display: block;
    margin-bottom: 3px;
    padding-bottom: 49px;

}